{% extends 'htmx/base.html.twig' %}

{% block body %}

    <table class="min-w-full bg-white border border-gray-200 shadow-sm rounded-lg overflow-hidden">
        <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Titre</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
        {% for post in posts %}
        <tr class="hover:bg-gray-50 transition-colors duration-150">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ post.id }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ post.title }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <div class="flex gap-2">
                    <a
                        href="{{ path('posts.edit', {id: post.id}) }}"
                        hx-push-url="true"
                        hx-get="{{ path('posts.edit', {id: post.id}) }}"
                        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-150">
                    Editer
                </a>
                <button
                        hx-delete="{{ path('posts.edit', {id: post.id}) }}"
                        hx-confirm="Voulez-vous vraiment supprimer cet article ?"
                        class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition-colors duration-150">
                    Supprimer
                </button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'components/pagination.html.twig' with {
        route_name: 'posts.index',
    } %}
{% endblock %}
