<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Démonstration approches front{% endblock %}</title>

    {% block stylesheets %}
        {{ vite_entry_link_tags('htmx') }}
    {% endblock %}
    {% block javascripts %}
        {{ vite_entry_script_tags('htmx') }}
    {% endblock %}
</head>
<body>
<main class="container my-8 mx-auto" id="main">
    <article class="text-base prose prose-slate xl:text-xl">

    <h2>Démonstration des approches front-end</h2>
    <p>
        Démonstration de différentes approches pour méler PHP et front-end
    </p>
    <ul class="border rounded divide-y not-prose">
        <li class="p-4">
            <a href="{{ path('spa') }}" class="text-blue-600 hover:underline">Single page application</a>
        </li>
        <li class="p-4">
            <a href="{{ path('posts.index') }}" class="text-blue-600 hover:underline">htmx</a>
        </li>
        <li class="p-4">
            <a href="{{ path('datastar') }}" class="text-blue-600 hover:underline">Datastar</a>
        </li>
        <li class="p-4">
            <a href="{{ path('shop') }}" class="text-blue-600 hover:underline">Live components</a>
        </li>
    </ul>
    </article>
</main>
</body>
</html>
