<tr class="hover:bg-gray-50 transition-colors duration-150" id="row-{{ post.id }}">
    <td colspan="3" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            {{ form_start(form, {
                attr: {
                class: 'flex gap-2 items-end',
                'data-on-submit': "@post('" ~ path('datastar.posts.edit', {id: post.id}) ~ "', {contentType: 'form'})"
            }}) }}
            {{ form_rest(form) }}
            <button
                    data-on-click="@get('{{ path('datastar.posts.show', {id: post.id}) }}')"
                    type="reset"
                    class="bg-gray-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition duration-150 ease-in-out">
                Annuler
            </button>
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition duration-150 ease-in-out">
                Submit
            </button>
            {{ form_end(form) }}
    </td>
</tr>
